@model ESFA.DC.LARS.Web.Models.ViewModels.SearchResultsViewModel<LearningAimsSearchModel, LearningAimModel>

@{
    ViewData["Title"] = "Index";
    var academicYear = Model.SearchModel.TeachingYears.FirstOrDefault();
}

@await Html.PartialAsync("_breadcrumbs", new[] { Model?.Breadcrumbs })

<div id="resultsApp">
    @using (Html.BeginForm("Search", "LearningAimSearchResult", FormMethod.Post, new { @id = "filterForm", @class = "govuk-form-group" }))
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="standard-search">
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">Search qualifications</h1>
                    <div class="govuk-form-group">
                        <div id="tt-overlay" class="autocomplete-wrapper second">
                            <div class="autocomplete__wrapper" role="combobox" aria-expanded="false">
                                <input class="autocomplete__input autocomplete__input--default" id="autocomplete-overlay" name="SearchTerm"
                                       placeholder="e.g Maths or 40010740" type="text" value="@Model.SearchModel.SearchTerm" maxlength="200" />
                            </div>
                        </div>
                        <button id="searchProviders" type="submit" class="govuk-button">
                            <img src="https://assets.publishing.service.gov.uk/frontend/govuk_publishing_components/search-button-ca89b2a79f944909ceb7370d3f0b78811d32b96e883348fcd8886f63dd619585.png" />
                        </button>
                    </div>
                </div>
                <validation-errors errors="@Model.ValidationErrors" ref="ValidationErrors"></validation-errors>
            </div>
        </div>

        <div class="govuk-grid-row govuk-!-margin-top-6">
            <div class="govuk-grid-column-one-third">
                <noscript id="filtersNoScript">
                    @await Html.PartialAsync("_LearningAimsFilters", Model)

                    <input type="submit" value="Update results" class="govuk-!-margin-top-4 govuk-button govuk-button--secondary" />

                    @Html.ActionLink(
                    "Clear Filters",
                    "ClearFilters",
                    new { searchTerm = Model.SearchModel.SearchTerm, academicYear = academicYear },
                    new { @class = "govuk-!-margin-top-4 govuk-button govuk-button--secondary" })
                </noscript>
                <filters search-type="Qualifications" :set-immediate-refresh-required="setImmediateRefreshRequired"></filters>
            </div>

            <div class="govuk-grid-column-two-thirds">

                <ul id="resultList" class="govuk-list">
                    <p class="govuk-body flex space-between">
                        <span ref="ResultsCount">@Model.Results.Count() results</span>
                    </p>

                    <filter-feedback search-type="Qualifications"></filter-feedback>

                    <div ref="Results">
                        @await Html.PartialAsync("_LearningAimsResults", Model)
                    </div>

                </ul>

            </div>
        </div>
    }
</div>

@section PageScripts
{
    <script id="filtersTemplate" type="text/x-template">
        <div>
            @await Html.PartialAsync("_LearningAimsFilters", Model)
            <p>
                <a v-on:click="clearFilters()" class="govuk-link govuk-link--no-visited-state" href="#">Clear filters</a>
            </p>
        </div>
    </script>

    <script src="/assets/dist/js/esfa.js"></script>

    <script>
        var element = document.getElementById("filtersNoScript");
        element.parentNode.removeChild(element);

        var viewService = new ESFA.ViewService();
        viewService.setupLearningAimSearchResultView("@Model.SearchModel.SearchTerm", "@academicYear");

        @*This variable is used in typescript as an ambient declaration.  Please do not remove or change the name. *@
        var serverFilters = viewService.getLearningAimFilters(@Json.Serialize(Model.SearchModel.AwardingBodies),
                                                        @Json.Serialize(Model.SearchModel.Levels),
                                                        @Json.Serialize(Model.SearchModel.TeachingYears),
                                                        @Json.Serialize(Model.SearchModel.FundingStreams));

    </script>

    @* Ensure this include is after the filterNoScript tag removal, if not some DOM selectors may not work as expected*@
    <script src="/assets/dist/js/learningAimSearchResults.js"></script>
}