@model ESFA.DC.LARS.Web.Models.ViewModels.SearchResultsViewModel

@{
    ViewData["Title"] = "Index";
    var resultsFound = Model?.LearningAimModels != null && Model.LearningAimModels.Any();
}

<div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-one-third">&nbsp;</div>
    <div class="govuk-grid-column-two-thirds">
        <ul id="resultList" class="govuk-list">
            @if (resultsFound)
            {
                @foreach (var learningAim in Model.LearningAimModels)
                {
                    <li>
                        <h3>
                            <a class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold no-underline" href="#">@learningAim.LearningAimTitle</a>
                        </h3>
                        <div class="flex space-between">
                            <div class="aims-list govuk-body govuk-!-font-size-16 govuk-!-margin-top-2 flex-col flex-1">
                                <span><strong>Reference:</strong> @learningAim.LearnAimRef</span>
                                <span><strong>Assessor:</strong>@learningAim.AwardingBody</span>
                            </div>
                            <div class="aims-list govuk-body govuk-!-font-size-16 govuk-!-margin-top-2 flex-col flex-1">
                                <span><strong>NVQ notional level:</strong> @learningAim.Level</span>
                                <span><strong>Guided learning hours:</strong> @learningAim.GuidedLearningHours </span>
                            </div>
                        </div>
                    </li>
                }
            }
            else
            {
                <li>No results found</li>
            }
        </ul>

    </div>
</div>