@using ESFA.DC.LARS.Web.Controllers;
@model ESFA.DC.LARS.Web.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

@functions {
    private void RenderSearchButton(string name)
    {
        <button id="@name-search" type="search" class="govuk-button govuk-button--start govuk-!-margin-bottom-0">
            Search <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg>
        </button>
    }

    private void RenderSearchBox(string name)
    {
        <div>
            <label class="govuk-label" for="@name-input">Search by <strong>name</strong> or <strong>reference number</strong></label>
            <div class="autocomplete-wrapper" aria-label="Search by name or reference number">
                <div class="autocomplete__wrapper" role="combobox" aria-expanded="false">
                    <div aria-atomic="true" aria-live="polite" role="status" style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; padding: 0px; position: absolute; white-space: nowrap; width: 1px;">
                        No search results.<span>,,</span>
                    </div>
                    <input aria-owns="@name-input__listbox" autocomplete="off" class="autocomplete__input autocomplete__input--default" id="@name-input" name="@name" placeholder="" type="text" role="textbox">
                    <ul class="autocomplete__menu autocomplete__menu--overlay autocomplete__menu--hidden" id="@name-input__listbox" role="listbox">
                    </ul>
                </div>
            </div>
        </div>
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Find a learning aim
        </h1>

        <p class="govuk-body-l">Find the latest information on available qualifications, apprenticeship frameworks, and funding for further education providers.</p>

        <p class="govuk-body">Qualifications will show you funding streams for courses and the last date learners can start. Frameworks will show you pathways, dates, and the issuing authority. You can also download datasets used in the funding information system (FIS).</p>

        <div class="govuk-tabs" data-module="govuk-tabs">

            <ul class="govuk-tabs__list" role="tablist">
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">
                    <a class="govuk-tabs__tab" href="#qualifications" id="tab_qualifications" role="tab" aria-controls="qualifications" aria-selected="true" tabindex="0">
                        Qualifications
                    </a>
                </li>

                <li class="govuk-tabs__list-item" role="presentation">
                    <a class="govuk-tabs__tab" href="#frameworks" id="tab_frameworks" role="tab" aria-controls="frameworks" aria-selected="false" tabindex="-1">
                        Frameworks
                    </a>
                </li>
            </ul>

            <div class="govuk-tabs__panel" id="qualifications" role="tabpanel" aria-labelledby="tab_qualifications">
                <div class="app-masthead-v2">

                    <h2 class="govuk-heading-l">Search for a qualification</h2>

                    <form asp-action="@nameof(HomeController.AimSearch)" class="govuk-form-group" id="aimSearchForm">
                        @{
                            RenderSearchBox("searchTerm");
                        }
                        <br>

                        <div class="flex space-between">
                            <div class="govuk-form-group govuk-!-margin-top-3 govuk-!-margin-bottom-1">
                                <label class="govuk-label" for="width-10">
                                    Awarding body
                                </label>
                                <input class="govuk-input govuk-input--width-10 home-black-border" id="width-10" name="AwardingBody" type="text" maxlength="150" />

                            </div>

                            <div class="govuk-form-group govuk-!-margin-top-3 govuk-!-margin-bottom-1 home-control-left-margin">
                                <label class="govuk-label" for="Level">
                                    Level
                                </label>

                                <select id="Level" class="govuk-select" name="Level">
                                    <option value="" selected></option>
                                    @foreach (var level in Model.Lookups.NotionalNvqLevel2Lookups)
                                    {
                                        <option value="@level.NotionalNVQLevelV2">@level.NotionalNVQLevelV2Desc</option>
                                    }
                                </select>
                            </div>

                            <div class="govuk-form-group govuk-!-margin-top-3 govuk-!-margin-bottom-1 home-control-left-margin">
                                <label class="govuk-label" for="TeachingYear">
                                    Teaching year
                                </label>
                                <select id="TeachingYear" class="govuk-select" name="TeachingYear">
                                    @foreach (var year in Model.Lookups.AcademicYearLookups)
                                    {
                                        if (year.IsCurrentAcademicYear)
                                        {
                                            <option value="@year.AcademicYear" selected>@year.AcademicYearDesc</option>
                                        }
                                        else
                                        {
                                            <option value="@year.AcademicYear">@year.AcademicYearDesc</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <br />
                        @{
                            RenderSearchButton("qualifications");
                        }
                    </form>
                </div>
            </div>

            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="frameworks" role="tabpanel" aria-labelledby="tab_frameworks">

                <div class="app-masthead-v2">
                    <h2 class="govuk-heading-l">Search for a framework</h2>

                    <form asp-action="@nameof(HomeController.FrameworkSearch)" class="govuk-form-group" id="frameworkForm">
                        @{
                            RenderSearchBox("frameworkSearchTerm");
                        }
                        <br>
                        @{
                            RenderSearchButton("frameworks");
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">&nbsp;</div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <ul class="govuk-list">
            @foreach (var error in Model.ValidationErrors)
            {
                <li class="govuk-error-message">@error</li>
            }
        </ul>
    </div>
</div>
