@using ESFA.DC.LARS.Web.Controllers;
@model ESFA.DC.LARS.Web.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="govuk-grid-row" id="homeApp">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Find a learning aim
        </h1>

        <p class="govuk-body-l">Find the latest information on available qualifications, apprenticeship frameworks, and funding for further education providers.</p>

        <p class="govuk-body">Qualifications will show you funding streams for courses and the last date learners can start. Frameworks will show you pathways, dates, and the issuing authority. You can also download datasets used in the funding information system (FIS).</p>

        <div class="govuk-tabs" data-module="govuk-tabs">

            <ul class="govuk-tabs__list" role="tablist">
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">
                    <a class="govuk-tabs__tab" href="#qualifications" id="tab_qualifications" role="tab" aria-controls="qualifications" aria-selected="true" tabindex="0">
                        Qualifications
                    </a>
                </li>

                <li class="govuk-tabs__list-item" role="presentation">
                    <a class="govuk-tabs__tab" href="#frameworks" id="tab_frameworks" role="tab" aria-controls="frameworks" aria-selected="false" tabindex="-1">
                        Frameworks
                    </a>
                </li>

                <li class="govuk-tabs__list-item" role="presentation">
                    <a class="govuk-tabs__tab" href="#units" id="tab_units" role="tab" aria-controls="units" aria-selected="false" tabindex="-1">
                        Units
                    </a>
                </li>

            </ul>

            <div class="govuk-tabs__panel" id="qualifications" role="tabpanel" aria-labelledby="tab_qualifications">
                <div class="app-masthead-v2">

                    <h2 class="govuk-heading-l">Search for a qualification</h2>

                    <form asp-action="@nameof(HomeController.AimSearch)" class="govuk-form-group" id="aimSearchForm">
                        <input id="TeachingYear" type="hidden" name="TeachingYear" value="@Model.Lookups.AcademicYearLookups.Single(y => y.IsCurrentAcademicYear).AcademicYear" />
                        @await Html.PartialAsync("_SearchBar", "searchTerm")
                        <br>
                        @await Html.PartialAsync("_SearchButton", "qualifications")
                    </form>
                </div>
            </div>

            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="frameworks" role="tabpanel" aria-labelledby="tab_frameworks">
                <div class="app-masthead-v2">
                    <h2 class="govuk-heading-l">Search for a framework</h2>

                    <form asp-action="@nameof(HomeController.FrameworkSearch)" class="govuk-form-group" id="frameworkForm">
                        @await Html.PartialAsync("_SearchBar", "searchTerm")
                        <br />
                        @await Html.PartialAsync("_SearchButton", "frameworks")
                    </form>
                </div>
            </div>

            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="units" role="tabpanel" aria-labelledby="tab_units">
                <div class="app-masthead-v2">
                    <h2 class="govuk-heading-l">Search for a unit</h2>

                    <form asp-action="@nameof(HomeController.UnitSearch)" class="govuk-form-group" id="unitSearchForm">
                        <input id="TeachingYear" type="hidden" name="TeachingYear" value="@Model.Lookups.AcademicYearLookups.Single(y => y.IsCurrentAcademicYear).AcademicYear" />
                        @await Html.PartialAsync("_SearchBar", "searchTerm")
                        <br>
                        @await Html.PartialAsync("_SearchButton", "units")
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="govuk-grid-column-one-third">&nbsp;</div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <ul class="govuk-list">
            @foreach (var error in Model.ValidationErrors)
            {
                <li class="govuk-error-message">@error</li>
            }
        </ul>
    </div>
</div>

@section PageScripts
{
    <script src="/assets/dist/js/search.js" asp-append-version="true"></script>
}