@model ESFA.DC.LARS.Web.Models.ViewModels.SearchResultsViewModel<LearningAimsSearchModel, LearningAimModel>
@{
    Layout = "~/Views/Shared/_LayoutSearchResults.cshtml";
    ViewData["Title"] = "Index";
    ViewData["SearchTitle"] = "Search Units";
    var academicYear = Model.SearchModel.TeachingYears.FirstOrDefault();
}

@section Filters
{
    <noscript id="filtersNoScript">
        @await Html.PartialAsync("_LearningAimsFilters", Model)
        <input type="submit" value="Update results" class="govuk-!-margin-top-4 govuk-button govuk-button--secondary" />
        <a asp-action="ClearFilters" asp-route-searchTerm="@Model.SearchModel.SearchTerm" asp-route-academicYear="@academicYear" class="govuk-!-margin-top-4 govuk-button govuk-button--secondary">Clear filters</a>
    </noscript>
    <filters search-type="Units" :set-immediate-refresh-required="setImmediateRefreshRequired"></filters>
}

@section Results
{
    <p class="govuk-body flex space-between">
        <span ref="ResultsCount">@Model.Results.Count() results</span>
    </p>

    <filter-feedback search-type="Units"></filter-feedback>

    <div ref="Results">
        @await Html.PartialAsync("_LearningAimsResults", Model)
    </div>
}

@section PageScripts
{
    <filter-template>
        @await Html.PartialAsync("_LearningAimsFilters", Model)
    </filter-template>

    <script>
        var viewService = new ESFA.ViewService();
        viewService.setupLearningAimSearchResultView("@Model.SearchModel.SearchTerm", "@academicYear");
        @*This variable is used in typescript as an ambient declaration.  Please do not remove or change the name. *@
        var serverFilters = viewService.getLearningAimFilters(@Json.Serialize(Model.SearchModel.AwardingBodies),
                                                        @Json.Serialize(Model.SearchModel.Levels),
                                                        @Json.Serialize(Model.SearchModel.TeachingYears),
                                                        @Json.Serialize(Model.SearchModel.FundingStreams));
    </script>

    @* Ensure this include is after the filterNoScript tag removal, if not some DOM selectors may not work as expected*@
    <script src="/assets/dist/js/UnitsSearchResults.js" asp-append-version="true"></script>
}
