@model ESFA.DC.LARS.Web.Models.ViewModels.FrameworkDetailViewModel

@await Html.PartialAsync("_breadcrumbs", new[] { Model?.LearningAimBreadcrumbs, Model?.FrameworksBreadcrumbs })

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            @Model.Framework.FrameworkTitle
            <span class="govuk-caption-xl">@Model.Framework.FrameworkCode</span>
        </h1>

        <ul class="govuk-list">
            <li>
                <strong>Pathway:</strong> @Model.Framework.PathwayCode - @Model.Framework.PathwayName
            </li>
            <li>
                <strong>Issuing authority:</strong> @Model.Framework.IssuingAuthority - @Model.Framework.IssuingAuthorityDesc
            </li>
            <li>
                <strong>Effective from:</strong> @Model.Framework.EffectiveFrom?.ToDateString() to: @Model.Framework.EffectiveTo?.ToDateString()
            </li>
        </ul>

        <ul class="govuk-list">
            <li>
                <a asp-action="Index" asp-controller="FrameworkCommonComponent" asp-route-frameworkCode="@Model.Framework.FrameworkCode"
                   asp-route-programType="@Model.Framework.ProgramType" asp-route-pathwayCode="@Model.Framework.PathwayCode"
                   class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold no-underline govuk-!-font-size-19">Common components</a>
            </li>
        </ul>

        <h2 class="govuk-heading-m ">Sector subject area</h2>
        <div class="govuk-body">
            <p>@Model.Framework.SectorSubjectAreaTier2 - @Model.Framework.SectorSubjectAreaTier2Desc</p>
        </div>

        <h2 class="govuk-heading-m ">Related learning aims</h2>
        @foreach (var aim in Model.Framework.LearningAims)
        {
            <ul class="govuk-list">
                <li>
                    @Html.ActionLink(
                        aim.LearningAimTitle,
                        "Index",
                        "LearningAimDetail",
                        new { learnAimRef = aim.LearnAimRef },
                        new { @class = "govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state" })
                </li>
                <li>
                    <strong>Reference:</strong> @aim.LearnAimRef
                </li>
                <li>
                    <strong>Awarding body:</strong> @aim.AwardingBodyCode
                </li>
                <li>
                    <strong>Level:</strong> @aim.Level
                </li>
                <li>
                    <strong>Effective from:</strong> @aim.EffectiveFrom.ToDateString() to: @aim.EffectiveTo?.ToDateString()
                </li>
                <li>
                    <strong>Component Type:</strong> @aim.ComponentType - @aim.ComponentTypeDesc
                </li>
            </ul>
            <hr />
        }
    </div>
</div>

@section PageScripts
{
    <script>
        var viewService = new ESFA.ViewService();
        viewService.setupFrameworkDetailView("@Model.Framework.FrameworkCode", "@Model.Framework.ProgramType", "@Model.Framework.PathwayCode")
    </script>
}