@model IEnumerable<BreadcrumbsModel>
@{
    @*If more than one breadcrumb leave to clientside code to decide which to display*@
    var hideBreadcumbs = Model.Count() > 1;
}

<noscript>
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a href="/" class="govuk-breadcrumbs__link">Start a new search</a>
            </li>
        </ol>
    </div>
</noscript>

@foreach (var breadcrumbType in Model)
{

    <div id="@breadcrumbType.Id" class="govuk-breadcrumbs" @(hideBreadcumbs? "style='display: none'" : string.Empty)>
        <ol class="govuk-breadcrumbs__list">
            @foreach (var breadcrumb in breadcrumbType.Breadcrumbs)
            {
                <li class="govuk-breadcrumbs__list-item">
                    @if (!breadcrumb.Key.Equals(breadcrumbType.Breadcrumbs.Last().Key))
                    {
                        <a id="@breadcrumb.Key" class="govuk-breadcrumbs__link">@breadcrumb.Value</a>
                    }
                    else
                    {
                        @breadcrumb.Value
                    }
                </li>
            }
        </ol>
    </div>
}

<div style="display:none">
    <form id="breadcrumbSubmit" method="post">
    </form>
</div>