@model ESFA.DC.LARS.Web.Models.ViewModels.BaseSearchResultsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("_breadcrumbs", new[] { Model?.Breadcrumbs })

<div id="resultsApp">
    <form id="filterForm" asp-action="Search" method="post" class="govuk-form-group">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="standard-search">
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">@ViewData["SearchTitle"]</h1>
                    <div class="govuk-form-group">
                        <div id="tt-overlay" class="autocomplete-wrapper second">
                            <div class="autocomplete__wrapper" role="combobox" aria-expanded="false">
                                <input class="autocomplete__input autocomplete__input--default" id="autocomplete-overlay" name="SearchTerm"
                                       placeholder="e.g Maths or 40010740" type="text" value="@Model.SearchTerm" maxlength="200" />
                            </div>
                        </div>
                        <button id="searchProviders" type="submit" class="govuk-button">
                            <img src="https://assets.publishing.service.gov.uk/frontend/govuk_publishing_components/search-button-ca89b2a79f944909ceb7370d3f0b78811d32b96e883348fcd8886f63dd619585.png" />
                        </button>
                    </div>
                </div>
                <validation-errors errors="@Model.ValidationErrors" ref="ValidationErrors"></validation-errors>
            </div>

            <div class="govuk-grid-column-one-third">
                <div class="govuk-form-group flex-col">
                    <label id="learningTypeLabel" class="govuk-label" for="learningType">
                        Type of learning
                    </label>
                    <select class="govuk-select" id="searchType" name="searchType" asp-for="@Model.SearchType" 
                            asp-items="Html.GetEnumSelectList<LearningType>()" v-on:change="learningTypeChanged($event.target.value)">
                    </select>
                </div>
            </div>
        </div>

        <div class="govuk-grid-row govuk-!-margin-top-6">
            <div class="govuk-grid-column-one-third">
                @RenderSection("Filters", required: true)
            </div>

            <div class="govuk-grid-column-two-thirds">
                <ul id="resultList" class="govuk-list">
                    @RenderSection("Results", required: true)
                </ul>
            </div>
        </div>
    </form>
</div>

@section PageScripts{
    <script src="/assets/dist/js/esfa.js" asp-append-version="true"></script>
    @RenderSection("PageScripts", required: true)
}

