@model ESFA.DC.LARS.Web.Models.ViewModels.LearningAimsResultsViewModel

@{
    var resultsFound = Model?.LearningAimModels != null && Model.LearningAimModels.Any();
    var academicYear = Model.SearchModel.TeachingYears.FirstOrDefault();
}
<hr class="colour-black govuk-section-break govuk-section-break--m govuk-section-break--visible">

@if (!resultsFound)
{
    <li>No results found</li>
}
else
{
    @foreach (var learningAim in Model.LearningAimModels)
    {
        <li>
            <h3 class="govuk-!-margin-0">
                @Html.ActionLink(
                      learningAim.LearningAimTitle,
                      "RedirectToDetails",
                      new { learnAimRef = learningAim.LearnAimRef, academicYear = academicYear },
                      new { @class = "govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold no-underline" })
            </h3>
            <div class="flex space-between">
                <div class="aims-list govuk-body govuk-!-font-size-16 govuk-!-margin-top-2 flex-col flex-1">
                    <span><strong>Reference:</strong> @learningAim.LearnAimRef</span>
                    <span><strong>Awarding body:</strong> @learningAim.AwardingBodyCode</span>
                </div>
                <div class="aims-list govuk-body govuk-!-font-size-16 govuk-!-margin-top-2 flex-col flex-1">
                    <span><strong>Level:</strong> @learningAim.Level</span>
                    <span><strong>Guided learning hours:</strong> @learningAim.GuidedLearningHours </span>
                </div>
            </div>
            @if (!string.IsNullOrEmpty(academicYear) && academicYear.Trim().Length == 4)
            {
                var validities = learningAim.AcademicYears.Where(ay => ay.AcademicYear.Equals(academicYear)).SelectMany(p => p.Validities);

                <div class="aims-list govuk-body govuk-!-font-size-16 flex-col flex-1">
                    <strong>Available funding streams for academic year @($"20{academicYear.Substring(0, 2)} to 20{academicYear.Substring(2, 2)}:")</strong>
                </div>

                <div class="flex-wrap govuk-!-font-size-16">
                    @foreach (var validity in validities)
                    {
                        <div class="flex-third govuk-!-margin-bottom-2">
                            @validity.ValidityCategoryDescription
                        </div>
                    }
                </div>
            }
        </li>
    }
}