@model ESFA.DC.LARS.Web.Models.ViewModels.LearningAimsCategoryViewModel

@await Html.PartialAsync("_breadcrumbs", Model?.Breadcrumbs)

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            @Model.LearningAimModel.LearningAimTitle
            <span class="govuk-caption-xl">@Model.LearningAimModel.LearnAimRef</span>
        </h1>

        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-!-font-size-27">Category</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Reference</th>
                    <th scope="col" class="govuk-table__header">Description</th>
                    <th scope="col" class="govuk-table__header">Parent Reference</th>
                    <th scope="col" class="govuk-table__header">Parent Description</th>
                    <th scope="col" class="govuk-table__header">Effective from</th>
                    <th scope="col" class="govuk-table__header">Effective to</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @if (Model != null
                   && Model.LearningAimModel != null
                   && Model.LearningAimModel.Categories != null
                   && Model.LearningAimModel.Categories.Any())
                {
                    @foreach (var category in Model.LearningAimModel.Categories)
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">@category.Reference</td>
                            <td class="govuk-table__cell">@category.Description</td>
                            <td class="govuk-table__cell">@category.ParentReference</td>
                            <td class="govuk-table__cell">@category.ParentDescription</td>
                            <td class="govuk-table__cell">@category.EffectiveFrom?.ToString("dd MMMM yyyy")</td>
                            <td class="govuk-table__cell">@category.EffectiveTo?.ToString("dd MMMM yyyy")</td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="govuk-table__row">
                        <td colspan="6" class="govuk-table__cell">No categories found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section PageScripts
{
    <script type="module">
        import LinkService from '/assets/dist/js/Services/linkService.js';
        var linkService = new LinkService();
        linkService.setLinks();
    </script>
}